CMDDLL
pslist:Print active processes by following the _EPROCESS list:P
dlllist:Print list of loaded DLLs for each process:pq
handles:Print list of open handles for each process:ptQ
getsids:Print the SIDs owning each process:
cmdscan:Extract command history by scanning for _COMMAND_HISTORY:M
consoles:Extract command history by scanning for _CONSOLE_INFORMATION:N
CMDPROCMEM
memmap:Print the memory map:p
memdump:Dump the addressable memory for a process:pD
evtlogs:Parse XP and 2003 event logs from memory:De
iehistory:Extract and parse Internet Explorer history and URL cache:RL
CMDKERNEL
modules:Print list of loaded modules:P
modscan:Scan Physical memory for _LDR_DATA_TABLE_ENTRY objects:
moddump:Extract a kernel driver to disk:DXB
driverscan:Scan physical memory for _DRIVER_OBJECT objects:
filescan:Scan physical memory for _FILE_OBJECT objects:
mutantscan:Scan physical memory for _KMUTANT objects:s
CMDGUI
sessions:List details on _MM_SESSION_SPACE (user logon sessions):
clipboard:Extract the contents of the windows clipboard:v
eventhooks:Print details on windows event hooks:
windows:Print Desktop Windows (verbose details):
CMDNET
connections:Print open connections (XP and 2003 only):P
connscan:Scan physical memory for _TCPT_OBJECT objects (XP and 2003 only):
sockets:Print open sockets(XP and 2003 only):P
CMDREG
hivescan:Scan physical memory for _CMHIVE objects:
hivelist:Print list of registry hives:
printkey:Print a registry key, and its subkeys and values:Ko
hashdump:Dumps passwords hashes (LM/NTLM) from memory (x86 only):ysN
lsadump:Dump (decrypted) LSA secrets from the registry (XP and 2003 x86 only):ysN
getservicesids:Calculate SIDs for windows services in the registry:
CMDMAL
malfind:Find hidden and injected code:DpN
svcscan:Scan for Windows services:v
ldrmodules:Detect unlinked DLLs:v
apihooks:Scan for calls to imported functions:Np
psxview:Find hidden processes with various process listings:
